{
  "root": true,
  "extends": ["@jccharlemagne/eslint-config"],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "@typescript-eslint/no-misused-promises": "off"
  }
}
